<!doctype html>
<html lang="{{ locale }}" dir="{{ dir }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>Nimbus Forwarding</title>
		{% set cssFile = '../_includes/assets/css/' + assethandler.cssFileName %}
		{% set jsFile = '../_includes/assets/js/' + assethandler.jsFileName %}
		
		<link rel="stylesheet" href="{{ cssFile | url }}">
		<script type="module" defer src="{{ jsFile }}"></script>
	</head>
	<body>
		<div>
			
		</div>

		{% include 'components/header.njk' %}

		<main>
			{% include 'components/video-banner.njk' %}
			{% include 'components/services/services.njk' %}
			{% include 'components/cta.njk' %}
			{{ layoutContent | safe }}
		</main>

	</body>

</html>
