<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
   width="150"
   height="50"
   viewBox="0 0 1931.7278 459.67926"
   version="1.1"
   id="svg5"
   inkscape:version="1.2.2 (732a01da63, 2022-12-09)"
   sodipodi:docname="v08.svg"
   inkscape:export-filename="v10.svg"
   inkscape:export-xdpi="5.625"
   inkscape:export-ydpi="5.625"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <sodipodi:namedview
     id="namedview7"
     pagecolor="#ffffff"
     bordercolor="#000000"
     borderopacity="0.25"
     inkscape:showpageshadow="2"
     inkscape:pageopacity="0.0"
     inkscape:pagecheckerboard="0"
     inkscape:deskcolor="#d1d1d1"
     inkscape:document-units="px"
     showgrid="true"
     inkscape:zoom="0.53719136"
     inkscape:cx="1217.4433"
     inkscape:cy="772.53663"
     inkscape:window-width="2337"
     inkscape:window-height="1434"
     inkscape:window-x="258"
     inkscape:window-y="90"
     inkscape:window-maximized="0"
     inkscape:current-layer="layer1">
    <inkscape:grid
       type="xygrid"
       id="grid6666"
       originx="-258.92708"
       originy="-406.86209" />
  </sodipodi:namedview>
  <defs
     id="defs2">
    <rect
       x="1149.8275"
       y="418.51135"
       width="1384.9705"
       height="839.17993"
       id="rect5122" />
    <rect
       x="1149.8275"
       y="418.51135"
       width="1384.9705"
       height="839.17993"
       id="rect5122-2" />
  </defs>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-258.92707,-406.86209)">
    <path
       style="fill:#18518e;fill-opacity:1;stroke-width:0.919981"
       d="m 397.79637,764.51426 c 0,0 -106.12009,-6.53295 -134.37691,-84.92841 -28.25684,-78.39541 86.02633,-97.341 86.02633,-97.341 0,0 -37.20996,-56.01753 43.00175,-126.4098 80.57443,-70.71055 135.95816,-28.42116 135.95816,-28.42116 0,0 71.90713,-29.54148 113.65523,-1.63324 58.82371,39.32314 74.7236,86.88827 74.7236,86.88827 0,0 48.97853,3.59314 68.44435,83.94846 32.04589,132.28604 -105.49219,169.53011 -105.49219,169.53011 z"
       id="path1427"
       sodipodi:nodetypes="cscscscscc" />
    <path
       style="fill:#ffffff;fill-opacity:1;stroke-width:0.8647"
       d="m 412.9501,776.22478 c 0,0 -96.7101,-6.33313 -122.4613,-82.32921 -25.75125,-75.99618 78.39813,-94.36196 78.39813,-94.36196 0,0 -33.91047,-54.30306 39.18859,-122.54098 73.42959,-68.5464 123.90231,-27.55128 123.90231,-27.55128 0,0 65.53093,-28.6374 103.57706,-1.58338 53.6076,38.11977 68.09761,84.22907 68.09761,84.22907 0,0 44.63544,3.48328 62.37525,81.37924 29.20422,128.23744 -96.13793,164.34171 -96.13793,164.34171 z"
       id="path1427-9"
       sodipodi:nodetypes="cscscscscc" />
    <text
       xml:space="preserve"
       style="font-size:254.527px;fill:#18518e;fill-opacity:1;stroke-width:1.32566"
       x="452.88586"
       y="617.14008"
       id="text1635"
       transform="scale(0.85076638,1.1754108)"><tspan
         sodipodi:role="line"
         id="tspan1633"
         x="452.88586"
         y="617.14008"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';fill:#18518e;fill-opacity:1;stroke-width:1.32566">N</tspan></text>
    <text
       xml:space="preserve"
       style="font-size:287.059px;fill:#18518e;fill-opacity:1;stroke-width:1.49513"
       x="553.56842"
       y="777.53827"
       id="text1791"
       transform="scale(0.97253237,1.0282434)"><tspan
         sodipodi:role="line"
         id="tspan1789"
         x="553.56842"
         y="777.53827"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:sans-serif;-inkscape-font-specification:'sans-serif Bold';fill:#18518e;fill-opacity:1;stroke-width:1.49513">F</tspan></text>
    <text
       xml:space="preserve"
       id="text5120"
       style="font-size:192px;white-space:pre;shape-inside:url(#rect5122);display:inline;fill:#18518e;fill-opacity:1"
       transform="matrix(1.3023288,0,0,1.3743164,-676.84827,-223.44987)"><tspan
         x="1149.8281"
         y="594.94922"
         id="tspan427"><tspan
           style="font-weight:bold;font-family:Bahnschrift;-inkscape-font-specification:'Bahnschrift Bold'"
           id="tspan425">Nimbus
</tspan></tspan></text>
    <text
       xml:space="preserve"
       id="text5120-4"
       style="font-size:192px;white-space:pre;shape-inside:url(#rect5122-2);display:inline;fill:#18518e;fill-opacity:1"
       transform="matrix(1.3023288,0,0,1.3743164,-576.4479,-337.05992)"><tspan
         x="1149.8281"
         y="594.94922"
         id="tspan431"><tspan
           style="font-weight:bold;font-family:Bahnschrift;-inkscape-font-specification:'Bahnschrift Bold'"
           id="tspan429">
</tspan></tspan><tspan
         x="1149.8281"
         y="836.2193"
         id="tspan435"><tspan
           style="font-weight:bold;font-family:Bahnschrift;-inkscape-font-specification:'Bahnschrift Bold'"
           id="tspan433">Forwarding</tspan></tspan></text>
  </g>
</svg>
