<section class="relative">
    <div class="z-30 p-5 text-3xl text-white absolute w-full sm:bottom-10 bottom-0">
        <div class="text-center">
            <H1 class="text-5xl">{{ 'video.title' | i18n }}</H1>
            <div> - </div>
            From <strong><em>here</em></strong> to the <strong><em>stratosphere</em></strong> <small class="text-lg">(and back)</small>
        </div>
    </div>
    <div class="image-gradient sm:hidden block relative" style="height: 470px;">
        <img class="object-cover h-full" src="../static/img/video-comp-mob-1.jpg">
    </div>
    <div class="hidden sm:flex video-gradient relative flex items-center justify-center h-screen mb-12 overflow-hidden" style="height: 700px">
        <video autoplay loop muted class="absolute z-10 w-auto min-w-full min-h-full max-w-none" style="top: -370px">
            <source src="../static/videos/video-comp-1.mp4" type="video/mp4"/>
                <img class="object-cover h-full" src="../static/img/video-comp-mob-1.jpg">
        </video>
    </div>
</section>