<section id="services" class="mx-auto max-w-7xl p-4">
    <div class="grid grid-flow-row justify-items-center gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3">
        {% for service in services %}
            {% include 'components/services/service-card.njk' %}
        {% endfor %}
    </div>
</section>