<article class="rounded overflow-hidden shadow-lg">
    <img class="w-full object-cover aspect-[3/2]" src="{{service.url}}" alt="Sunset in the mountains">
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
            {% if service.isShip %}
            {{ 'services.shipping.title' | i18n }}
            {% elif service.isCustom %}
            {{ 'services.custom.title' | i18n }}
            {% else %}
            {{ 'services.transport.title' | i18n }}
            {% endif %}
        </div>
        <p class="text-gray-700 text-base">
            {% if service.isShip %}
            {{ 'services.shipping.desc' | i18n }}
            {% elif service.isCustom %}
            {{ 'services.custom.desc' | i18n }}
            {% else %}
            {{ 'services.transport.desc' | i18n }}
            {% endif %}
        </p>
    </div>
</article>